# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db

# Optional: VS Code or JetBrains IDE settings
.vscode/
.idea/

# Build folders
dist/
build/
